<div>
    <div class="modal-header">
        <h3 class="modal-title">{{startQs}} Questionnaire - {{QSDTC.toDateString()}} - {{USUBJID}}
            <button type="button" class="close" ng-click="cancel();" aria-label="Close"><span aria-hidden="true">Close&times;</span></button></h3>

    </div>
    <!--<div class="row">-->
        <!--<div class="col-sm-4">-->
            <!--<div class="form-group">-->
                <!--<label class="control-label">Date</label>-->
                <!--<input type="date" ng-model="QSDTC" class="form-control"></div>-->
        <!--</div>-->
    <!--</div>-->
    <div class="modal-body" style="padding-right: 50px">
    <div>
    </div>
    <div class="container-fluid" id="msqol">
      Login Test
    </div>
    </div>
</div>