<div ng-init="">

    <div ng-show="qHistories['Physical Health Composite'].length>0&&qHistories['Mental Health Composite'].length>0&&
    qHistories['Physical Health Composite'][0].QSDTC==qHistories['Mental Health Composite'][0].QSDTC">
        <p>Last submitted on:{{convertToDisplayDate(qHistories['Physical Health Composite'][0].QSDTC)}} (<b>{{convertDaysDiffString((qHistories['Physical Health Composite'][0].QSDTC))}}</b>)</p>

        <p>Physical Score: {{qHistories['Physical Health Composite'][0].QSSTRESC|number:3}}</p>

        <p>Mental Score:  {{qHistories['Mental Health Composite'][0].QSSTRESC|number:3}}

            <highchart id="chart1" config="chartconfig"></highchart>

            <a href="" class="pull-right btn btn-primary btn-sm" ng-click="jumpToQ(currentQs)"><span class="glyphicon glyphicon-repeat"></span>
                Refresh</a>
        </p>
    </div>
    <div ng-hide="UserSessionService.isLoggedIn==false||(qHistories['Physical Health Composite'].length>0&&qHistories['Mental Health Composite'].length>0&&
    qHistories['Physical Health Composite'][0].QSDTC==qHistories['Mental Health Composite'][0].QSDTC)">
        <p>No Record Found</p>
    </div>
    <div ng-hide="UserSessionService.isLoggedIn">
        Please login first.
    </div>
</div>

