<div>
    <script>
        $(document).ready(function () {
            $("#txtSettings a").click(function () {
                $('body').css("zoom", this.id + "%");
            });
        });
    </script>
    <div class="modal-header">
        <h3 class="modal-title">{{startQs}} Questionnaire - {{QSDTC.toDateString()}} - WID:{{USUBJID}}
            <button type="button" class="close" ng-click="cancel();" aria-label="Close"><span aria-hidden="true">Close&times;</span></button></h3>
        <div class="text-setting">
            <div id="txtSettings" class="text-size-modal">
                <span>Need to increase text size?</span>
                <a style="font-size:14px;" id="100" href="javascript:void(0);">a</a>
                <a style="font-size:16px;" id="125" href="javascript:void(0);">a</a>
                <a style="font-size:18px;" id="150" href="javascript:void(0);">a</a>
                <a style="font-size:20px;" id="175" href="javascript:void(0);">a</a>
            </div>
        </div>
    </div>


    <div class="modal-body" style="padding-right: 50px">
        <div ng-show="manual_date_entry&&currentGroup==0" class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="control-label">Date</label>
                    <input type="date" ng-model="QSDTC" class="form-control"></div>
            </div>
        </div>
    <div class="container-fluid" id="msqol">

        <div ng-show="questions[currentGroup].exFlag" class="row marginTop marginBottom"> <!--<form>--> <style>u{font-weight:bold;}</style>

            <div class="row">
                <div class="col-sm-12"> <!--
                        <strong>
                            Due to your MS, in the past 4 weeks, have you:
                        </strong>
                        --> <div ng-bind-html="questions[currentGroup].title"></div>
                </div>


            </div><!--<div ng-bind-html="questions[currentGroup].title"></div>-->
            <div ng-repeat="row in questions[currentGroup].questions" class="row marginTop">
                <div class="col-sm-12">
                    <p ng-bind-html="row.question"></p>
                </div>
                <div class="col-sm-12">
                <div class="col-sm-1"></div>
                <div class="col-sm-1 text-center" ng-repeat="rowa in questions[currentGroup].answers">
                    <p>{{rowa.key}}</p>
                </div>
                </div>
                <div class="col-sm-12">
                <div class="col-sm-1">

                </div>
                <div class="form-group" ng-init="scope[row.idx]='';">
                    <div class="col-sm-1 answerOpt "  ng-repeat="answ in questions[currentGroup].answers">
                        <label class="btn btn-default btn-lg btn-block" ng-class="{selectedRadio: answeredQestions[row.QSTEST]==answ.value}">
                            <input type="radio" ng-model="scope[row.idx]" name="{{row.idx}}" value="{{answ.value}}" ng-hide="true" ng-change="addMSQOL(row.QSTEST, answ.value,answ.conv)">
                        </label>
                    </div>
                    <br>
                </div>
                </div>
            </div>

        </div>

        <div ng-show="questions[currentGroup].exFlag==null||questions[currentGroup].exFlag==false" class="row marginTop marginBottom"> <!--<form>--> <style>u{font-weight:bold;}</style>
            <div class="row">
                <div class="{{questions[currentGroup].exFlag ? 'col-sm-1' : 'col-sm-5'}}"> <!--
                        <strong>
                            Due to your MS, in the past 4 weeks, have you:
                        </strong>
                        --> <div ng-bind-html="questions[currentGroup].title"></div>
                </div>
                <div class="col-sm-1 text-center" ng-repeat="row in questions[currentGroup].answers">
                    <p>{{row.key}}</p>
                </div>
            </div><!--<div ng-bind-html="questions[currentGroup].title"></div>-->
            <div ng-repeat="row in questions[currentGroup].questions" class="row marginTop">
                <div class="{{questions[currentGroup].exFlag ? 'col-sm-1' : 'col-sm-5'}}">
                    <p ng-bind-html="row.question"></p>
                </div>

                <div class="form-group" ng-init="scope[row.idx]='';">
                    <div class="col-sm-1 answerOpt "  ng-repeat="answ in questions[currentGroup].answers">
                        <label class="btn btn-default btn-lg btn-block" ng-class="{selectedRadio: answeredQestions[row.QSTEST]==answ.value}">
                            <input type="radio" ng-model="scope[row.idx]" name="{{row.idx}}" value="{{answ.value}}" ng-hide="true" ng-change="addMSQOL(row.QSTEST, answ.value,answ.conv)">
                        </label>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <div class="row modal-footer" style="text-align:center;margin-top:20px">
        <a class="btn btn-sm btn-success" ng-click="prevGroup()">Previous</a>
        <a class="btn btn-sm btn-success" ng-click="nextGroup()" ng-hide='isLastButton()'>{{getNextButtonText()}}</a>
        <a class="btn btn-sm btn-success" ng-click="submit()" ng-show='isLastButton()'>Submit</a>
    </div>
    </div>
</div>